.FooterMol {
  display: flex;
  width: 100vw;
  height: 60px;
  background: #e9e9e9;
}

.FooterMol button {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
  border: none;
  background: #f4f4f4;
  background-color: #f4f4f4;
  font-family: inherit;
  padding: 4px 0;
  color: #0e4da4;
}
