.boxes {
  display: flex;
  justify-content: space-evenly;
}
.box {
  font-family: inherit;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  color: #3a3636;
  position: relative;
}

.transactionTypeBox {
  position: absolute;
  font-size: medium;
  top: 4px;
  left: 8px;
  margin: 0;
}

.totalAmount {
  position: absolute;
  font-size: small;
  margin: 0;
  bottom: 3px;
  left: 9px;
}

.iconPosition {
  position: absolute;
  right: 3px;
  bottom: 10px;
  font-size: 16px;
}
.iconIncome {
  color: #62a856;
}

.iconExpense {
  color: #f47265;
}

.iconBalance {
  color: #3a3636;
}
