version: "3.8"
services:

  mysql:
    image: mysql:8.0
    restart: always
    ports:
      - 33307:3306
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./Back_End/mysql-db:/var/lib/mysql      

  flask-server:
    build:
      context: ./Back_End/flask-server
      target: base
    ports:
      - '5000:5000'
    volumes:
      - ./Back_End/flask-server:/code
    environment:
      - HBNB_MYSQL_USER=${HBNB_MYSQL_USER}
      - HBNB_MYSQL_PWD=${HBNB_MYSQL_PWD}
      - HBNB_MYSQL_HOST=${HBNB_MYSQL_HOST}
      - HBNB_MYSQL_DB=${HBNB_MYSQL_DB}
    # command: bash -c "while true; do sleep 2s; done"
    command: bash -c "uvicorn app.app:app --host 0.0.0.0 --port 5000"
    depends_on:
      - mysql

  react-app:
    stdin_open: true
    tty: true
    build: 
      context: ./front_end/ahorrapp
      dockerfile: Dockerfile.dev


    # environment:
      # - TEST=testing environment
    # env_file:
      # - ./.env
  # nginx:
  #   image: nginx
  #   ports:
  #     - 8000:80
  #   volumes:
  #     - ./nginx/default.d/:/etc/nginx/conf.d/
  #   depends_on:
  #     - flask-server