.linkFooter {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
}

.linkFooter.Dashboard {
  color: #0e4da4;
}

footer {
  display: flex;
  width: 100vw;
  height: 60px;
  bottom: 0;
  position: fixed;
}
