.TransactionHistory {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #c4c4c4;
  overflow-y: scroll;
}

.TransactionHistory .TransactionCardList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.body .container .transactionsBox .history .transactionCard {
  margin: 0.5rem 0;
}
