.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;
  height: 35px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.input input {
  border-radius: 10px;
}

.iconInput {
  color: #e38787;
  font-size: 22px;
}

.textInput {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
