.glass {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 4;
  background: #fafafad1;
  position: absolute;
  top: 0;
  left: 0;
}

.glass.show {
  display: flex;
  flex-direction: column;
}

.glass .categoryModal {
  width: 280px;
  height: 450px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #ffff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  z-index: 6;
}
