.linkFooter {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
  border: none;
  color: #3a3636;
}

.linkFooter.Dashboard {
  color: #0e4da4;
}

.addTrans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.addTrans span {
  color: #4fb8ff;
  font-size: 2rem;
  margin: 0.5rem;
}
