.linkFooter {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0;
  background: #f4f4f4;
  padding: 4px 0;
  color: #0e4da4;
  text-decoration: none;
}

.linkFooter.active {
  color: #0e4da4;
}

.addTrans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1.2rem;
  margin: 0.5rem;
  text-decoration: none;
}

.addTrans span {
  color: #4fb8ff;
  font-size: 2rem;
  margin: 0.5rem;
}
