.linkFooter {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
  border: none;
  color: #3a3636;
}

.linkFooter.Dashboard {
  color: #0e4da4;
}

.addTrans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  height: 35px;
  border: none;
  background: none;
  font-family: inherit;
}

.addTrans span {
  color:#4FB8FF;
  font-size: 24px;
}
