.btn {
  border-radius: 15px;
  width: 130px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 19px;
  color: white;
  border: none;
}

.btn.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
}

.btn.Income {
  background: #62a856;
}

.btn.Expense {
  background: #f47265;
}

.btn.Budget {
  background: #58f3f5;
}

.btn.Add {
  background: #0e4da4;
}

.btn.Cancel {
  background: #c4c4c4;
  color: #3a3636;
}
