.btn {
  border-radius: 15px;
  width: 130px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  line-height: 19px;
  color: white;
  border: none;
  margin: 10px;
}

.btn.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
}

.btn.calendar {
  background: none;
  margin: 0;
  width: auto;
  height: auto;
  font-size: 1rem;
  color: #3a3636;
}

.btn.Income {
  background: #62a856;
}

.btn.Expense {
  background: #f47265;
}

.btn.Budget {
  background: #4fb8ff;
}

.btn.Add {
  background: #0e4da4;
}

.btn.Add:disabled {
  background: #0e4da44f;
}

.btn.Cancel {
  background: #c4c4c4;
  color: #5c636a;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.confirmation {
  height: 3rem;
  width: 6rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
.btn.btnYes {
  background: #0b5ed7;
}

.btn.btnNo {
  background: #5c636a;
}

.btnEdit,
.btnDelete {
  background: none;
  border: none;
  color: #e38787;
  font-size: 1.5rem;
}

.btn.btnCategory {
  border-radius: 10px;
  background: none;
  height: 30px;
  width: 190px;
  color: #3a3636;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

.navIcon {
  color: #e38787;
  font-size: 22px;
  background: none;
  border: none;
}

.btn.navIcon.menu {
  display: flex;
  width: auto;
  color: #3a3636;
  font-size: 1rem;
  margin: 0;
  align-items: center;
}

.btn.navIcon.menu span {
  color: #4fb8ff;
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

.cleanFilter span {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.cleanFilter {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1rem;
  margin-right: 1rem;
  font-family: inherit;
  align-self: flex-end;
  color: #0e4da4;
}
