.btn {
  border-radius: 15px;
  width: 130px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  line-height: 19px;
  color: white;
  border: none;
  margin: 10px;
}

.btn.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
}

.btn.Income {
  background: #62a856;
}

.btn.Expense {
  background: #f47265;
}

.btn.Budget {
  background: #4fb8ff;
}

.btn.Add {
  background: #0e4da4;
}

.btn.Add:disabled {
  background: #0e4da44f;
}

.btn.Cancel {
  background: #c4c4c4;
  color: #565e64;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.confirmation {
  height: 20px;
  width: 60px;
  font-size: 14px;
  border-radius: 5px;
}
.btn.btnYes {
  background: #0b5ed7;
}

.btn.btnNo {
  background: #5c636a;
}

.btnEdit,
.btnDelete {
  background: none;
  border: none;
  color: #e38787;
  font-size: 1.5rem;
}

.btn.btnCategory {
  border-radius: 10px;
  background: none;
  height: 30px;
  width: 190px;
  color: #3a3636;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

.navIcon {
  color: #e38787;
  font-size: 22px;
  background: none;
  border: none;
}

.navIcon.menu {
  color: grey;
}
