.carrousel {
  display: flex;
  width: 100%;
}

.carrousel .carrousel-item {
  display: none;
  flex: 1;
}

.carrousel .carrousel-item.active {
  display: block;
}

.carrousel .carrousel-control {
  background: transparent;
  border: none;
}
