.transactionCard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0rem;
}
/*date and card + icon*/
.transactionCard.IncomeCard .date {
  align-self: flex-start;
  font-size: 12px;
  color: #3a3636;
}

.transactionCard.IncomeCard .rowCard {
  justify-content: flex-start;
}

.transactionCard.ExpenseCard .date {
  align-self: flex-end;
  font-size: 12px;
  color: #3a3636;
}
.transactionCard.ExpenseCard .rowCard {
  justify-content: flex-end;
}

.transactionCard .rowCard {
  width: 100%;
  display: flex;
  align-items: center;
}

/* icon card*/

.transactionCard .IncomeCard {
  color: #62a856;
  font-size: 24px;
  width: 42px;
  text-align: center;
  order: 2;
}

.transactionCard .IncomeCard + .transactionBody {
  order: 1;
}

.transactionCard .ExpenseCard {
  color: #f47265;
  font-size: 24px;
  width: 42px;
  text-align: center;
  order: 1;
}

.transactionCard .ExpenseCard + .transactionBody {
  order: 2;
}

/*Card body*/

.transactionCard.IncomeCard .transactionBody {
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 0;
}

.transactionCard.ExpenseCard .transactionBody {
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
}

.transactionCard .transactionBody {
  display: flex;
  border: 1px solid #c4c4c4;
  align-items: center;
  background-color: white;
  min-height: 60px;
}

.transactionCard .transactionBody .descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 6px;
}

.transactionCard .transactionBody .amount {
  font-size: 1rem;
  color: #3a3636;
  padding: 0px 6px;
}

.transactionCard .transactionBody .descriptionContainer .descriptionCard {
  font-size: 1.1rem;
  color: #3a3636;
}
.transactionCard .transactionBody .descriptionContainer .categoryCard {
  font-size: 1rem;
  color: #3a3636;
}

.transactionCard .transactionBody .descriptionContainer .descriptionCard,
.transactionCard .transactionBody .descriptionContainer .categoryCard {
  margin: 0;
}
